@tailwind components;
@tailwind utilities;
@tailwind base;

body {
   height: 100vh;
   background-image: url("./assets/images/Background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}