.admin-page-body {
  min-height: 100vh;
  background-image: url("../images/AdminBackground.jpg");
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  overflow: hidden;
}

body {
  overflow: hidden;
  overflow-y: scroll;
}